<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hjzn.wallet"
    android:configChanges="locale">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name="com.tencent.tauth.AuthActivity"-->
            <!--android:noHistory="true"-->
            <!--android:launchMode="singleTask" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="tencent101444308" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!-- bugly -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hjzn.wallet.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".MainActivity" >

        </activity>
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForgetActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.PhoneVerActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ResetPwdActivity" />
        <activity android:name=".activity.SetPwdActivity" />
        <activity android:name=".activity.MenMoneyActivity" />
        <activity android:name=".activity.PersionActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ChangeLoginPwdActivity" />
        <activity android:name=".activity.ChangePayPwdActivity" />
        <activity android:name=".activity.BankListActivity" />
        <activity android:name=".activity.AddBankActivity" />
        <activity android:name=".activity.RealNameActivity" />
        <activity android:name=".activity.RecomActivity" />
        <activity android:name=".activity.WipDepActivity"></activity>
    </application>
</manifest>